body {
  background-color: rgb(36, 36, 37);
}

#motion {
  background-color: rgba(27, 5, 39, 0.818);
  background-blend-mode: color;
  background-image: url('../../public/images/bg1.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-attachment: fixed;

  #banner {
    margin: 0px 0px 0px 0px;
  }

  .motion-container {
    border: 2rem solid rgba(0, 0, 0, 0.566);
    transform: scale(0.7);    
    box-shadow: 0 0 0.5rem 0.5rem rgba(0, 0, 0, 0);
    border: 2px solid rgba(255, 192, 203, 0.117);
    transition: 
      transform 0.9s ease-in-out,
      box-shadow 0.5s ease-in-out,
      border 0.5s ease-in-out;
  }

  .motion-container:hover {
    transform: scale(0.8);
    box-shadow: 0 0 1.9rem rgba(245, 245, 4, 0.549);
    border: 2px solid rgba(255, 199, 126, 0.744);
    transition: 
      transform 0.5s ease-in-out,
      box-shadow 0.4s ease-in-out,
      border 0.5s ease-in-out;
  }
}

.flip-180 {
  transform: scaleX(-1);
}

.bnw {
  filter: grayscale(100%);
}

.bg-grey-dark {
  background-color: #48424a;
}


section {
  width: 99.9%;
  margin: 0 auto;
}

.visual-board {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;    
  }
}
