.flip-180 {
  transform: scaleX(-1);
}

section {
  width: 99.9%;
  margin: 0 auto;
}

.visual-board {
  background-color: #131313;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;    
  }
}